{% for row in data %}

	{% set gallery = row.gallery %}
	{% set images = (gallery) ? gallery.getGalleryImagesByLanguage(app.request.getLocale()) : null %}
	{% set row_translation = row.getTranslation() %}
	{% set currency = 'PEN' %}

	<!--Product item-->
	<div class="col-12 col-sm-6 col-md-4 col-lg-4 mb-5">
		<div
			data-aos="fade-up" class="product border rounded p-3 position-relative">

			{#
																																																																					<div class="position-absolute top-0 left-0 w-100 pt-3">
																																																																					    {% if row.isNew %}
																																																																					        <span class="badge bg-success col-md-6 p-2 mb-1">{{'New'|trans}}</span>
																																																																					    {% endif %}
																																																																					    {% if row.isBestSeller %}
																																																																					        <span class="badge bg-warning col-md-6 p-2 mb-1">{{'Bestseller'|trans}}</span>
																																																																					    {% endif %}
																																																																					    {% if row.isRecommended %}
																																																																					        <span class="badge bg-secondary col-md-6 p-2 mb-1">{{'Recommended'|trans}}</span>
																																																																					    {% endif %}
																																																																					</div>
																																																																					#}

			<div class="wrapper-img">
				{% set image_name = '' %}
				{% if images %}

					{% for image in images|slice(0, 1) %}
						<img alt="product-name" class="img-fluid mb-3" src="{{image.getImageUrl()}}">
						{% if image.body %}
							{% set image_name = image.body %}
						{% endif %}
					{% endfor %}
				{% endif %}
				{#<a href="{{path('app_product', {slug: row_translation.slug})}}"></a>#}

			</div>

			<div class="caption text-center">
				<h3>{{ (image_name) ? image_name : row_translation.name}}</h3>
				<p>{{ 'Weight'|trans }}:
					{{row.weightGrammage|round(1, 'floor')}}g</p>

				<p>{{ 'Price'|trans }}:
					{{row.price}}
					{{currency}}</p>

				{#{{ component('addToCart', {pdata: row,pdata_trans: row_translation})}}#}


				<div {{stimulus_controller('cart-add' , { i18nMsgAddedProduct: 'Added product'|trans, i18nMsgViewCart: 'View cart'|trans, i18nMsgRequestConfirmation: 'Request order confirmation'|trans, i18nMsgItems: 'Items'|trans, i18nMsgPrice: 'Price'|trans, url: path('app_ajax_user_save_cart'), urlGoToCart: path('app_cart_show') } )}} class="add-to-cart">

					{{ include("cart/_input.html.twig", {
                        id: row.id, 
                        code: row.code, 
                        description: row_translation.name, 
                        step: 1,
                        price: row.price,
                        currency: currency
                    }) }}

				</div>


			</div>

		</div>
	</div>
	<!--END Product item-->
{% else %}
	<div class="col-md">
		<div class="alert alert-warning">{{'No results were found'|trans}}</div>
	</div>
{% endfor %}

<div class="d-flex justify-content-center d-none pagination" id="paginationTarget" data-catalog-target="pagination">
	{% if data|length > 0 %}
		{{ pagerfanta(data) }}
	{% endif %}
</div>
