{% extends 'base.html.twig' %}

{% set alignRightImage = obj_row.isPullRightImage %}
{% set gallery = obj_row.gallery %}
{% set childMenu =  (obj_row.menu) ? obj_row.menu.menus : null %}
{% set chilItems = childMenu|length %}

{% block title %}{{obj_row_translation.name}}{% endblock %}

{% block body %}

<div id="page">

    <div class="cover" style="background-color: #007646">
        {% if obj_row.bgImageUrl %}
            <img class="opacity-50" src="{{obj_row.bgImageUrl}}">    
        {% endif %}
        <div class="cover-caption" data-aos="fade-up" data-aos-duration="2000" data-aos-delay="100">
            
            {% if childMenu %}
                <h2 class="text-center">{{obj_row.menu.getTranslateName|upper}}</h2>    
            {% else %}
                <h1>{{obj_row_translation.name|upper}}</h1>
            {% endif %}
        </div>
    </div>

    <div id="body" class="container my-5">

        <div class="row">
            <div class="col-md">
                 {{ component('flashmsg') }}
            </div>
        </div>

        <div class="row">
            
            {% if obj_row.menu %}
                <div class="col-md-3">
                    
                    {% if chilItems > 0 %}
                    <div id="content-menu" class="bg_color_secondary ps-2">
                        <ul class="bg_color_tertiary list-group">

                        {% for chilMenuItem in childMenu %}

                            {% set obj_page = chilMenuItem.getPage() %}
                            {% set obj_page_translation = (obj_page) ? obj_page.getTranslation() : null %}
                            {% set page_slug = (obj_page_translation) ? obj_page_translation.slug : '' %}
                            {% set page_name = (obj_page_translation) ? obj_page_translation.name : '' %}
                            
                            {% if page_slug %}
                            
                                {% if obj_page.isCatalog == true %}
                                    {% set obj_brand = chilMenuItem.getBrand() %}
                                    {% set brand_slug = (obj_brand and obj_brand.slug) ? obj_brand.slug : ('all'|trans)%}
                                    
                                    {#
                                    {% set obj_category = chilMenuItem.getcategory() %}
                                    {% set obj_category_translation = (obj_category) ? obj_category.getTranslation() : '' %}
                                    {% set category_slug = (obj_category and obj_category_translation and bj_category_translation.slug) ? obj_category_translation.slug: ('all'|trans) %}
                                    #}
                                    
                                    {% set urlpage = (page_slug) ? path('app_catalog', {slug: page_slug, brand: brand_slug }) : '' %}
                                
                                {% else %}
                                    {% set urlpage = (page_slug) ? path('app_page', {slug: page_slug }) : '' %}
                                {% endif %}
                            {% else %}
                                {% set urlpage = '#' %}
                            {% endif %}

                            <li class="list-group-item">
                                <a class="" href="{{ (urlpage) ? urlpage : '#' }}">
                                    
                                    {% if page_slug == obj_row_translation.slug %}
                                        <span class="icon">
                                            <i class="fa fa-circle fa-flip-horizontal"></i>
                                            <i class="fas fa-chevron-right"></i>
                                        </span>    
                                    {% endif %}
                                    
                                    {{chilMenuItem.getTranslateName|upper}}</a>
                            </li>
                        {% endfor %}
                        </ul>    
                    </div>    
                    {% endif %}
                    
                </div><!--//.col-md-3-->
            {% endif %}

            <div class="col-md">
            

                <!--content-->

                 {% if obj_row.useContactForm %}
                    <div class="row">
                        <div class="col-md">
                            {{obj_row_translation.body|raw}}
                        </div>
                    </div>    
                    {% endif %}
                    

                    <div class="row">    

                        {% if alignRightImage == false or alignRightImage is null %}
                          
                          <!--IMAGE-->
                            
                            
                            {% if gallery %}
                              
                              {% set images = gallery.getGalleryImagesByLanguage(app.request.getLocale()) %}
                              <div class="col-md-6">

                                  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
                                      <div class="carousel-indicators">
                                          {% for image in images %}
                                              {% set lpi = loop.index - 1 %}
                                              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="{{lpi}}" {{(lpi == 0) ? ' class="active" aria-current="true" ' : ''}} aria-label="Slide {{loop.index - 1}}"></button>
                                          {% endfor %}                            
                                      </div>
                                      <div class="carousel-inner">
                                          {% for image in images %}

                                          {% set lpi = loop.index - 1 %}
                                          <div each="{{lpi}}" class="carousel-item {{  (lpi == 0) ? 'active':''}}">
                                              <img class="d-block w-100" src="{{image.getImageUrl()}}">
                                          </div>
                                          {% endfor %}

                                      </div>
                                      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                          <span class="visually-hidden">Previous</span>
                                      </button>
                                      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                          <span class="visually-hidden">Next</span>
                                      </button>
                                      </div>
                              </div>
                          
                          {% else %}
                              {% if obj_row_translation.bodyImageUrl %}
                                      <div class="col-md-6">
                                      <img src="{{obj_row_translation.bodyImageUrl}}" class="img-fluid">    
                                  </div>
                              {% endif %}
                          {% endif %}

                          <!--END IMAGE-->
                        {% endif %}
                        
                          

                        <!--BODY-->
                        <div class="col-md">

                            {% if obj_row.useContactForm %}
                            
                                <form {{stimulus_controller('form')}} class="needs-validation" action="{{path('app_proccess_form')}}" method="POST" novalidate>
                                    <div class="form-group has-validation my-3">
                                        <label for="name">Name:</label>
                                        <input id="name" minlength="5"  class="form-control" name="name" type="text" placeholder="Complete name" required>
                                        <div class="invalid-feedback">
                                            Please provide a name.
                                        </div>
                                    </div>

                                    <div class="form-group has-validation my-3">
                                        <label for="phone">Phone:</label>
                                        <input id="phone" class="form-control" name="phone" type="text" placeholder="Phone" required>
                                        <div class="invalid-feedback">
                                            Please provide a phone number.
                                        </div>
                                    </div>

                                    <div class="form-group has-validation my-3">
                                        <label for="email">Email:</label>
                                        <input id="email" class="form-control" name="email" type="email" placeholder="E-mail" required>
                                        <div class="invalid-feedback">
                                            Please provide a email.
                                        </div>
                                    </div>

                                    <div class="form-group has-validation my-3">
                                        <label for="comment">Mensaje:</label>
                                        <textarea minlength="10" class="form-control" name="comment" id="comment" placeholder="Write a message" required cols="30" rows="10"></textarea>
                                    </div>

                                    <div class="d-grid gap-2 my-3">
                                        <input name="proccess" type="hidden" value="contact">
                                        <button class="btn btn-success btn-block btn-lg" type="submit">Send message</button>
                                    </div>
                                </form>

                            {% else %}
                            <div>

                                {% if childMenu %}
                                    <h1>{{obj_row_translation.name|upper}}</h1>    
                                {% endif %}

                                {{obj_row_translation.body|raw}}
                            </div>    
                            {% endif %}
                        </div>
                        <!--END BODY-->


                        {% if alignRightImage %}
                          
                          <!--IMAGE-->
                            
                            {% if gallery %}
                              
                              {% set images = gallery.getGalleryImagesByLanguage(app.request.getLocale()) %}
                              <div class="col-md-6">

                                  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
                                      <div class="carousel-indicators">
                                          {% for image in images %}
                                              {% set lpi = loop.index - 1 %}
                                              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="{{lpi}}" {{(lpi == 0) ? ' class="active" aria-current="true" ' : ''}} aria-label="Slide {{loop.index - 1}}"></button>
                                          {% endfor %}                            
                                      </div>
                                      <div class="carousel-inner">
                                          {% for image in images %}

                                          {% set lpi = loop.index - 1 %}
                                          <div each="{{lpi}}" class="carousel-item {{  (lpi == 0) ? 'active':''}}">
                                              <img class="d-block w-100" src="{{image.getImageUrl()}}">
                                          </div>
                                          {% endfor %}

                                      </div>
                                      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                          <span class="visually-hidden">Previous</span>
                                      </button>
                                      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                          <span class="visually-hidden">Next</span>
                                      </button>
                                      </div>
                              </div>
                          
                          {% else %}
                              {% if obj_row_translation.bodyImageUrl %}
                                      <div class="col-md-6">
                                      <img src="{{obj_row_translation.bodyImageUrl}}" class="img-fluid">    
                                  </div>
                              {% endif %}
                          {% endif %}

                          <!--END IMAGE-->
                        {% endif %}


                        
                    </div>

                <!--end content-->


            </div><!--//.col-md-->
        </div><!--//.row-->

    </div><!--//.container-->

    {{ include('page/_widgets.html.twig', {obj_widgets: obj_widgets}) }}

</div>

{% endblock %}
