{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="bg-light mt-4 p-4">
            <h1>Register</h1>

            {#
            {% if is_granted('EDIT', RelatedUserTable) %}
                <a href="{{ path('app_relatedUserTable_edit', {
                    slug: RelatedUserTable.slug
                }) }}" class="btn btn-secondary btn-sm mb-2">Edit</a>
            {% endif %}
            #}

            {{ form_start(registrationForm) }}
                {{ form_row(registrationForm.email) }}
                {{ form_row(registrationForm.plainPassword, {
                    label: 'Password'
                }) }}
                {{ form_row(registrationForm.agreeTerms) }}

                <button type="submit" class="btn btn-primary">Register</button>
            {{ form_end(registrationForm) }}
        </div>
    </div>
</div>
{% endblock %}
