<!-- Modal -->
<div class="modal fade" id="modal_{{name}}" tabindex="-1" aria-labelledby="modal_{{name}}Label" aria-hidden="true" data-modal-form-target="modal">
	<div class="modal-dialog modal-dialog-centered {{(size is defined) ? 'modal-' ~ size : ''}}">
		<div class="modal-content">

			<div class="modal-header">
				<h5 class="modal-title" id="modal_{{name}}Label">{{(title is defined) ? title : ''}}</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>

			<div class="modal-body" data-modal-form-target="modalBody" data-action="submit->modal-form#submitForm">


				{{body|default('Loading...')}}

			</div>

			{% if actions.show is defined and actions.show %}
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{(actions.closeLabel is defined) ? actions.closeLabel : 'Close'|trans }}</button>
					<button type="button" class="btn btn-success">{{(actions.sendLabel is defined) ? actions.sendLabel : 'Send'|trans }}</button>
				</div>
			{% endif %}

		</div>
	</div>
</div>
