{% set translation = obj_widget.getTranslation %}
{% set gallery = obj_widget.gallery %}
{% set images = gallery.getGalleryImagesByLanguage(app.request.getLocale()) %}

{% set titleColor = obj_widget.getTitleColor %}
{% set subtitleColor = obj_widget.getSubtitleColor %}

{% set textColor = obj_widget.getTextColor %}
{% set bgColor = obj_widget.getBgColor %}
{% set bgImage = obj_widget.bgImageUrl %}


{% if bgImage %}
<div class="content-owl-caroucel col-md py-3" style="
        background-image: url('{{bgImage}}');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        min-height:250px;
        overflow:hidden;
        ">    
{% else %}
<div class="content-owl-caroucel" style="{{(bgColor)? 'overflow:hidden;background-color:' ~ bgColor: ''}}">
{% endif %}


    <div id="owlCaroucelContainer-{{obj_widget.id}}" class="container wd my-3" style="{{(textColor)? 'color:' ~ textColor: ''}}">

        <div class="row py-3">
            <div class="col-md text-center">
                <h2 class="content-owl-caroucel-title">{{translation.name}}</h2>
                {% if translation.subtitle %}
                    <h2 class="content-owl-caroucel-subtitle">{{translation.subtitle}}</h2>    
                {% endif %}        
                        
            </div>
        </div>
        <div class="row">  
            <div class="col-md-12">
                <div id="owlCaroucel-{{obj_widget.id}}" {{stimulus_controller('owl-caroucel', {targetId: '#owlCaroucel-' ~ obj_widget.id, items:4})}} class="owl-carousel owl-theme">
                    {% for image in images %}
                        <div class="item wrapper-img text-center">
                            <a class="content-owl-caroucel-image" href="{{(image.link) ? image.link : '#'}}">
                                <img class="img-fluid" src="{{image.getImageUrl()}}">

                                {% if image.body %}
                                    {{image.body|raw}}    
                                {% endif %}
                                
                            </a>
                        </div>    
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>



</div>