{% set translation = obj_widget.getTranslation %}
{% set gallery = obj_widget.gallery %}
{% set images = gallery.getGalleryImagesByLanguage(app.request.getLocale()) %}

<div id="owlCaroucelContainer" class="container wd my-3">
    <div class="row py-3">
        <div class="col-md-6">
            <h2>{{translation.name}}</h2>        
        </div>
        <div class="col-md-6 text-end">
            <a href="{{path('app_catalog', {slug:'productos-y-marcas', brand: 'all' } )}}">{{'View more products'|trans}}</a>        
        </div>
    </div>
    <div class="row">  
        <div class="col-md-12">
            <div id="owlCaroucel" {{stimulus_controller('owl-caroucel', {targetId: '#owlCaroucel', items:2})}} class="owl-carousel owl-theme">
                {% for image in images %}
                    <div class="item wrapper-img">
                        <a href="{{(image.link) ? image.link : '#'}}">
                            <img class="img-fluid" src="{{image.getImageUrl()}}">
                        </a>
                    </div>    
                {% endfor %}
            </div>
        </div>
    </div>
</div>